html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: monospace;
}

hr{
    color: black;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    background-color: #a8d1e7;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header.sticky {
    position: sticky;
    top: 0;
}

.amarillo {
    background-color: #f7e9a0;
}
.rojo {
    background-color: #e88073;
}
.azul-claro {
    background-color: #a8d1e7;
}
.azul-oscuro {
    background-color: #24315e;
}
.gris {
    background-color: #8e8d89;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.container{
    width: 1200px;
    margin: 0px auto;
    padding: 0 auto;
}

.container > section {
    height: 100%;
}

#inicio {
    display: flex;
    align-items: stretch;
}

.container-menu{
    height: 50px;
    background-color: #24315e;
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.nav-list{
    width: 100%;
}

.main-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color:#24315e;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.container-logo{
    width: 100%;
    height: inherit;
    background-color: #24315e;
    text-align: center;
}

section .card-container {
    display: flex;
    flex-flow: row nowrap;
}

.section-text{
    margin: 0;
    color: white;
    background: #8e8d89;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.card{
    padding-top: 10px;
    flex: 1 1 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.card > img {
    height:150px;
    width: 150px;
}

.card > span.news-url{
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin: 10px;
}

.card .flexible {
    flex-grow: 1;
}

.service-text {
    padding: 10px;
    text-align: justify;
}

.news{
    width: 100%;
    height: 370px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news-data{
    width: 600px;
    height: 100%;
    background-color: rebeccapurple;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 40px 0;
    padding: 0 40px;
    color: white;
}

.news-text{
    color:black;
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.foot {
    display: inline-flex;
    background-color:#24315e;
    color: white;
}
.description {
    width: 50%;
    text-align: justify;
    margin: 20px;
}
.data {
    width: 50%;
    text-align: left;
    margin: 20px;
}
.info {
    padding: 10px;
    margin-top: 5px;
}
.contacts {
    display: flex;
}
.contacts1 {
    list-style-type: none;
    text-align: left;
}
.contacts2 {
    list-style-type: none;
    text-align: left;
}

.description a {
    color: black;
}