html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font: normal 14px/1.618em "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr{
    color: black;
}

body, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1, h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

h2 {
  font-size: 24px;
}

h3 {
    font-size: 18px;
  }

p {
  margin: 0px;
}
  
ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    background-color: #a8d1e7;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header.sticky {
    position: sticky;
    top: 0;
}

.amarillo {
    background-color: #f7e9a0;
}
.rojo {
    background-color: #e88073;
}
.azul-claro {
    background-color: #a8d1e7;
}
.azul-oscuro {
    background-color: #24315e;
}
.gris {
    background-color: #8e8d89;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.container{
    width: 1200px;
    margin: 0px auto;
    padding: 0 auto;
}

.container > section {
    height: 100%;
}

#inicio {
    display: flex;
    align-items: stretch;
}

.container-menu{
    height: 50px;
    background-color: #24315e;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.nav-list, .container-menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.main-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color:#24315e;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
}

#news .card-container {
    flex-wrap: wrap;
}

.news-card-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.news-image {
    padding: 20px;
    height: 150px;
    width: 150px;
}

section .news-card-header {
    padding: 15px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.card {
    padding: 15px;
    flex: 1 1 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.card > img {
    height:150px;
    width: 150px;
}

.card > span.news-url{
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin: 10px;
}

.card .flexible {
    flex-grow: 1;
}

.section-title {
    color: white;
    background: #8e8d89;
    text-align: center;
    padding: 15px;
}

.card-text {
    padding: 10px;
    text-align: justify;
    color: #333333;
}
